@charset "UTF-8";

/* Section - Deposit acct CSS setting */
#deposit_acct {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

#deposit_acct p {
  padding: 100px 0 20px 0;
  font-size: 35px;
}

/* Deposit acct - form CSS Setting */
#deposit_acct form {
  width: 400px;
  height: 150px;
  line-height: 150px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
}

#deposit_acct form label {
  font-size: 20px;
}

/* form - input CSS Setting */
#deposit_acct form input[type=text] {
  width: 150px;
  height: 30px;
  margin: 20px 5px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  text-indent: 10px;
}
#deposit_acct form input[type=submit] {
  width: 80px;
  height: 35px;
  margin: 20px 2px;
  border: 1px solid #b5b5b5;
  border-radius: 24px;
  background-color:rgb(248, 248, 248);
}

#deposit_acct form input[type=submit]:hover {
  background-color:#eeeeee;
}
